# Flutter/Dart/Pub specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# IDE specific temporary files (если не покрыто корневым)
*.swp
.history

# Приватные ключи и сертификаты (ДУБЛИРУЕМ ДЛЯ НАДЕЖНОСТИ, если они вдруг окажутся здесь)
key.pem # << ВАШ ФАЙЛ УЖЕ ЗДЕСЬ
cert.pem

# Локальные файлы конфигурации, которые могут содержать секреты
*.local
local.properties # Для Android
devtools_options.yaml # Часто содержит локальные настройки DevTools, лучше игнорировать