# Общие правила для IDE и ОС
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# Сертификаты (если они где-то в корне)
.certs/
key.pem # << ВАШ ФАЙЛ key.pem УЖЕ В КОРНЕ КЛИЕНТА, ЕГО ТОЧНО НУЖНО ИГНОРИРОВАТЬ ВЕЗДЕ!
cert.pem # Если есть еще сертификат

# Локальные файлы конфигурации, которые могут содержать секреты
# (если вы их используете в корне или где-то еще, где нет своего .gitignore)
*.local
.env
local.properties # Обычно для Android, но если используется в корне

# Логи
*.log
logs/

# Файлы сборки или временные файлы, если они могут случайно появиться в корне
dist/